<form id="formProducto">
  <label for="title">Titulo</label>
  <input type="text" name="title" />

  <label for="description">Description</label>
  <input type="text" name="description" />

  <label for="price">Price</label>
  <input type="number" name="price" />

  <label for="stock">Stock</label>
  <input type="number" name="stock" />

  <label for="category">Categoria</label>
  <input type="text" name="category" />

  <button type="submit">Crear Producto</button>
</form>
<h1>Todos los productos</h1>
<div id="listar">
  {{#each products}}
    <dl>
      <dt><b>{{this.title}}</b></dt>
      <dd><b>Descripcion:</b> {{this.description}}</dd>
      <dd><b>Precio:</b> {{this.price}}</dd>
      <dd><b>Stock:</b> {{this.stock}}</dd>
      <dd><b>Category:</b> {{this.category}}</dd>
    </dl>
  {{/each}}

</div>