<div class="listarProds">
  {{#each products}}
    <div class="divProd">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Precio: {{price}}</p>
      <p>Categoría: {{category}}</p>
      {{#if showAddToCartButton}}
        <form action="/cart" method="post">
          <input type="hidden" name="productId" value="{{_id}}" />
          <button type="submit">Agregar al carrito</button>
        </form>
      {{else}}
        <a href="/api/detail/{{_id}}">Ver detalles</a>
      {{/if}}
    </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if totalPages}}
    {{#if hasPrevPage}}
      <a href="/api/products?page={{prevPage}}">&laquo; Anterior</a>
    {{else}}
      <span class="disabled">&laquo; Anterior</span>
    {{/if}}

    {{#each paginationPages}}
      {{#if this.isCurrent}}
        <span class="current-page">{{this.page}}</span>
      {{else}}
        <a href="/api/products?page={{this.page}}">{{this.page}}</a>
      {{/if}}
    {{/each}}

    {{#if hasNextPage}}
      <a href="/api/products?page={{nextPage}}">Siguiente &raquo;</a>
    {{else}}
      <span class="disabled">Siguiente &raquo;</span>

    {{/if}}
  {{/if}}
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
  integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="js/prods.js"></script>