<div class="prodDetail">
  <div class="detailProd">
    <b>{{products.title}}</b>
    <p>Descripcion: <b>{{products.description}}</b></p>
    <p>Precio: <b>${{products.price}}</b></p>
    <p>code: <b>{{products.code}}</b></p>
    <p>Stock: <b>{{products.stock}}</b></p>
    <p>Categoria: <b>{{products.category}}</b></p>
    <p>Status: <b>{{products.status}}</b></p>
  </div>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
  integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>