<form id="formProducto">
  <label for="title">Titulo</label>
  <input type="text" name="title" />

  <label for="description">Description</label>
  <input type="text" name="description" />

  <label for="price">Price</label>
  <input type="number" name="price" />

  <label for="stock">Stock</label>
  <input type="number" name="stock" />

  <label for="category">Categoria</label>
  <input type="text" name="category" />

  <button type="submit">Crear Producto</button>
</form>
<div id="error" style="display: none; color: red;">Por favor, completa todos los
  campos</div>
<h1>Todos los productos</h1>
<div id="listar">
  {{#each products}}
    <form class="form">
      <dl>
        <dt><b>{{title}}</b></dt>
        <dd><b>Descripcion:</b> {{description}}</dd>
        <dd><b>Precio:</b> {{price}}</dd>
        <dd><b>Stock:</b> {{stock}}</dd>
        <dd><b>Category:</b> {{category}}</dd>
      </dl>
      <input type="text" value="{{_id}}" style="display: none;" />
      <input type="submit" value="Eliminar" />
    </form>
  {{/each}}

</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"
  integrity="sha512-AI5A3zIoeRSEEX9z3Vyir8NqSMC1pY7r5h2cE+9J6FLsoEmSSGLFaqMQw8SWvoONXogkfFrkQiJfLeHLz3+HOg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="js/main.js"></script>